<h2 class="current-clinic"><%= params[:clinic] %></h2>

<% if user_signed_in? %>
	<% if @patients.count == 0 %>
		<h2>There are currently no patients registered in this hospital</h2>
	<% else %>
		<!-- Display all patients -->
		<ul class="list-group">
			<% @patients.each do |patient| %>
				<li class="list-group-item"><%= link_to patient.name, patient_path(patient) %></li>
			<% end %>
		</ul>
	<% end %>
<% else %>
	<div class="well">
		<h2>Weclome to Smart Health Care Patient Management System</h2>
		<h3> Please log in or registers to contine </h3>
	</div>
<% end %>

