<h1 class="current-clinic"><%= params[:clinic] %></h1>

<% if @patients.count == 0 %>
	<h2>There are currently no patients registered in this hospital</h2>
<% else %>
	<!-- Display all patients -->
	<% @patients.each do |patient| %>
		<h2><%= link_to patient.name, patient_path(patient) %></h2>
	<% end %>
<% end %>
